<section class="section">
  <div class="container castle-advent-container">
    <div class="castle-advent-title-wrapper">
      <h2 class="title" id="castle-adventure-section">Castle Adventure</h2>
      <p class="sub-title sub-title-castle-advent">
        Rebuild a Kingdom Through Puzzle Magic
      </p>
    </div>
    <div class="castle-advent-wrapper">
      <div class="thumb-castle-advent">
        <img
          srcset="/STP-9329/assets/princess-CUlocWEy.jpg 1x, /STP-9329/assets/princess@2x-BrsXpbtC.jpg 2x"
          src="/STP-9329/assets/princess-CUlocWEy.jpg"
          alt="Princess"
        />
      </div>
      <div class="scroll-container">
        <img src="/STP-9329/assets/scroll-DgyfQ78O.png" class="scroll" alt="Magic Scroll" />
        <div class="castle-advent-description-wrapper">
          <p class="description">
            The princess needs your help to restore her home. Each chapter takes
            you through different parts of the castle — from throne rooms to
            hidden vaults. Complete puzzle tasks to unlock magical areas and
            reveal the castle’s forgotten history.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
