<section class="section">
  <div class="container boosters-container">
    <div class="boosters-title-wrapper">
      <h2 class="title boosters-main-title" id="power-ups-section">
        Power-Ups & Boosters
      </h2>
      <p class="sub-title">Magical Helpers Along the Way</p>
    </div>
    <div class="boosters-wrapper">
      <div class="boosters-description-wrapper">
        <p class="description">
          Unlock and upgrade a series of fantastic power-ups. Use your strategy
          to combine boosters for epic effects!
        </p>
      </div>
      <ul class="boosters-list boosters-group-1">
        <li class="boosters-list-item align-start">
          <img
            class="booosters-list-img"
            srcset="/evpl_vite_template/assets/bomb-DOAIfAfW.png 1x, /evpl_vite_template/assets/bomb@2x-DbRHNxyy.png 2x"
            src="/evpl_vite_template/assets/bomb-DOAIfAfW.png"
            alt="Bomb"
          />
          <div class="boosters-description">
            <p class="boosters-title">Treasure Bomb</p>
            <p class="boosters-text">Clear a huge area</p>
          </div>
        </li>
        <li class="boosters-list-item align-end">
          <div class="boosters-description boosters-group-2">
            <p class="boosters-title">Royal Flame</p>
            <p class="boosters-text">Burn through entire rows</p>
          </div>
          <img
            class="booosters-list-img"
            srcset="/evpl_vite_template/assets/fire-CC0eLZcP.png 1x, /evpl_vite_template/assets/fire@2x-mDQexy9_.png 2x"
            src="/evpl_vite_template/assets/fire-CC0eLZcP.png"
            alt="Fire"
          />
        </li>
      </ul>
      <ul class="boosters-list boosters-group-2">
        <li class="boosters-list-item align-end">
          <img
            class="booosters-list-img"
            srcset="/evpl_vite_template/assets/lightning-DwqRjthl.png 1x, /evpl_vite_template/assets/lightning@2x-DYXbhjhl.png 2x"
            src="/evpl_vite_template/assets/lightning-DwqRjthl.png"
            alt="Lightning"
          />
          <div class="boosters-description">
            <p class="boosters-title">Lightning Bolt</p>
            <p class="boosters-text">Match in a flash</p>
          </div>
        </li>
        <li class="boosters-list-item align-start">
          <div class="boosters-description boosters-group-2">
            <p class="boosters-title">Mystery Orb</p>
            <p class="boosters-text">Adds powerful matches randomly</p>
          </div>
          <img
            class="booosters-list-img"
            srcset="/evpl_vite_template/assets/sphere-B26y64bz.png 1x, /evpl_vite_template/assets/sphere@2x-DOoDaz8D.png 2x"
            src="/evpl_vite_template/assets/sphere-B26y64bz.png"
            alt="Sphere"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
