<section class="section">
  <div class="container visuals-atmosphere-container">
    <div class="castle-advent-title-wrapper">
      <h2 class="title">Visuals & Atmosphere</h2>
      <p class="sub-title sub-title-castle-advent">
        A World of Color, Charm, and Calm
      </p>
    </div>
    <div class="castle-advent-wrapper">
      <div class="thumb-castle-advent">
        <img
          srcset="/STP-9329/assets/throne-BMA3PEL6.jpg 1x, /STP-9329/assets/throne@2x-r_bMgCrD.jpg 2x"
          src="/STP-9329/assets/throne-BMA3PEL6.jpg"
          alt="throne"
        />
      </div>
      <!-- <div class=".visuals-atmosphere-scroll-container">
        <img src="/img/scroll.png" class="scroll" alt="Magic Scroll" />
        <div class="visuals-atmosphere-description-wrapper">
          <p class="description">
            Castle Match is more than a puzzle - it’s an experience. Enjoy!
          </p>
          <p class="description">
            Perfect for relaxing, unwinding, or escaping into a dreamlike
            kingdom.
          </p>
        </div> -->
      </div>
      <ul class="visuals-atmosphere-list">
        <li class="visuals-atmosphere-list-item">Gentle background music</li>
        <li class="visuals-atmosphere-list-item">
          Magical, hand-drawn visuals
        </li>
        <li class="visuals-atmosphere-list-item">
          Adorable characters and charming animations
        </li>
        <li class="visuals-atmosphere-list-item">
          Fluid animations and seamless transitions
        </li>
      </ul>
    </div>
  </div>
</section>
