<section class="section about-the-game-section">
  <div class="container about-the-game-container">
    <h2 class="title" id="about-the-game-section">About the Game</h2>
    <p class="sub-title">What Is Castle Match?</p>
    <div class="about-the-game-content-container">
      <div class="about-the-game-scroll-container">
        <div class="scroll-img"></div>

        <div class="about-the-game-scroll-description-wrapper">
          <div class="inner-scroll-content">
            <p class="description">
              Castle Match is a captivating match-3 puzzle adventure with a
              royal twist. Your mission: solve colorful puzzles and help a
              charming princess rebuild her ancestral castle. Every match brings
              you closer to unlocking new rooms, revealing long-lost treasures,
              and restoring her legacy.
            </p>
          </div>
        </div>
      </div>

      <div class="about-the-game-list-container">
        <ul class="about-the-game-list first">
          <li class="about-the-game-item" data-aos="fade-left">
            <div class="check-img"></div>
            <p class="description">Android 5.1+</p>
          </li>
          <li class="about-the-game-item" data-aos="fade-right">
            <div class="check-img"></div>
            <p class="description">Genre: Match-3 Fantasy Puzzle</p>
          </li>
        </ul>
        <ul class="about-the-game-list second">
          <li class="about-the-game-item" data-aos="fade-left">
            <div class="check-img"></div>
            <p class="description">Updated: May 2025</p>
          </li>
          <li class="about-the-game-item" data-aos="fade-right">
            <div class="check-img"></div>
            <p class="description">10,000+ downloads and counting</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
