<section class="section support-section">
  <div class="book-img-right"></div>
  <div class="container support-container">
    <div class="support-title-wrapper">
      <h2 class="title">Contact & Support</h2>
      <div class="support-description-wrapper">
        <p class="description support-description">
          Got a question or suggestion for our royal puzzle team? <br />
          We’re here to help!
        </p>
        <div>
          <ul class="support-list">
            <li class="support-list-item">
              Email:
              <a href="mailto:info@glowcastlemania.com" class="support-link">
                info@glowcastlemania.com
              </a>
            </li>
            <li class="support-list-item">Mon - Fri, 9am - 6pm GMT</li>
            <li class="support-list-item support-social-wrapper">
              Follow us on social:
              <ul class="support-social-list">
                <li class="support-social-list-item">
                  <a href="https://www.facebook.com/" class="support-list-link">
                    <svg class="social-list-icon" width="40" height="40">
                      <use href="/img/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="support-social-list-item">
                  <a
                    href="https://www.instagram.com/"
                    class="support-list-link"
                  >
                    <svg class="social-list-icon" width="40" height="40">
                      <use href="/img/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="support-social-list-item">
                  <a href="https://www.youtube.com/" class="support-list-link">
                    <svg class="social-list-icon" width="40" height="40">
                      <use href="/img/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="chest-img-left"></div>
</section>
