<section class="section support-section">
  <div class="container support-container">
    <div class="support-title-wrapper">
      <h2 class="title boosters-main-title">Contact & Support</h2>
      <div>
        <p>
          Got a question or suggestion for our royal puzzle team? We’re here to
          help!
        </p>
        <div>
          <ul>
            <li>Email: info@glowcastlemania.com</li>
            <li>Mon - Fri, 9am - 6pm GMT</li>
            <li>
              Follow us on social:
              <ul class="footer-social-list">
                <li class="footer-list-item">
                  <a href="" class="footer-list-link">
                    <svg class="social-list-icon" width="24" height="24">
                      <use href="../img/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="" class="footer-list-link">
                    <svg class="social-list-icon" width="24" height="24">
                      <use href="./images/icons.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="" class="footer-list-link">
                    <svg class="social-list-icon" width="24" height="24">
                      <use href="../img/sprite.svg#icon-instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer-list-item">
                  <a href="" class="footer-list-link">
                    <svg class="social-list-icon" width="24" height="24">
                      <use href="../img/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
