<header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img
            srcset="
              ../img/princess_favicon.png    1x,
              ../img/princess_favicon@2x.png 2x
            "
            src="../img/princess_favicon.png"
            alt="cute princess in a purple frame"
            width="24"
            height="24"
          />
        </a>
        <ul class="nav-list">
          <li class="row-in-nav-list">
            <ul class="row-list">
              <li class="nav-item">
                <a class="nav-link" href="#hero-section">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about-the-game-section"
                  >About the Game</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how-it-works-section"
                  >How It Works</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#key-features-section"
                  >Key Features</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#castle-adventure-section"
                  >Castle Adventure</a
                >
              </li>
            </ul>
          </li>

          <li class="row-in-nav-list">
            <ul class="row-list">
              <li class="nav-item">
                <a class="nav-link" href="#power-ups-section">Power-Ups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#levels-and-rewards-section"
                  >Levels & Rewards</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#visuals-and-sound-section"
                  >Visuals & Sound</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#download-section">Download</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-section">Contact</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="header__burger-wrapper">
        <button type="button" class="burger-btn" data-action="open">
          <svg class="mobile-menu-burger-btn" width="24" height="24">
            <use href="../img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <div class="burger-menu" data-visible="close">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="#hero-section">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-the-game-section"
                >About the Game</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#how-it-works-section">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#key-features-section">Key Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#castle-adventure-section"
                >Castle Adventure</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#power-ups-section">Power-Ups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#levels-&-rewards-section"
                >Levels & Rewards</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#visuals-&-sound-section"
                >Visuals & Sound</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#download-section">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact-section">Contact</a>
            </li>
          </ul>
          <button type="button" class="btn-close" data-action="close">
            <svg class="cross-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-cross"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="mobile-menu-wrapper"></div>
  <div class="tablet-menu-wrapper"></div>
</header>
