<header class="header">
  <div class="container">
    <!-- Wrapper of the logo, burger and desctop menu -->
    <div class="header-wrapper">
      <!-- Navigation -->
      <nav class="nav">
        <!-- LOGO -->
        <a
          class="nav-logo"
          href="./index.html"
          aria-label="Site logo"
          data-visible="mobile"
        >
          <img
            srcset="
              /img/princess_favicon.png    1x,
              /img/princess_favicon@2x.png 2x
            "
            src="/img/princess_favicon.png"
            alt="cute princess in a purple frame"
            width="24"
            height="24"
          />
        </a>
        <!-- List in desctop -->
        <ul class="nav-row" data-visible="desktop">
          <li class="nav-item">
            <a class="nav-link" href="#hero-section">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-the-game-section"
              >About the Game</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#how-it-works-section">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#key-features-section">Key Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#castle-adventure-section"
              >Castle Adventure</a
            >
          </li>
        </ul>
        <ul class="nav-row" data-visible="desktop">
          <li class="nav-item">
            <a class="nav-link" href="#power-ups-section">Power-Ups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#levels-and-rewards-section"
              >Levels & Rewards</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#visuals-and-sound-section"
              >Visuals & Sound</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#download-section">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-section">Contact</a>
          </li>
        </ul>
      </nav>

      <!-- Burger-btn -->
      <button
        type="button"
        class="burger-btn"
        data-action="open"
        data-visible="mobile"
      >
        <svg class="mobile-menu-burger-btn" width="24" height="24">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>

  <!--! Mobile Menu NOT in container-->
  <!--! Керування видимістю через data-menu-visible="true/false". -->

  <div class="burger-menu" data-menu-visible="false" data-visible="mobile">
    <!-- Btn and list -->
    <div class="burger-menu__content">
      <button type="button" class="btn-close" data-action="close">
        <svg class="cross-icon" width="14" height="14">
          <use href="/img/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="nav-burger-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero-section" data-action="close">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-the-game-section" data-action="close"
            >About the Game</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#how-it-works-section" data-action="close"
            >How It Works</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#key-features-section" data-action="close"
            >Key Features</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#castle-adventure-section"
            data-action="close"
            >Castle Adventure</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#power-ups-section" data-action="close"
            >Power-Ups</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#levels-and-rewards-section"
            data-action="close"
            >Levels & Rewards</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#visuals-and-sound-section"
            data-action="close"
            >Visuals & Sound</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#download-section" data-action="close"
            >Download</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-section" data-action="close"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div
    class="burger-menu__backdrop"
    data-action="close"
    data-backdrop-visible="false"
    data-visible="mobile"
  ></div>
</header>
