<section class="section how-it-works-section">
  <div class="container">
    <h2 class="title" id="how-it-works-section">How It Works</h2>
    <p class="sub-title">Easy Steps to Match Like Royalty</p>
    <div class="how-it-works-content-container">
      <p class="description how-it-works-descr">
        Each level gets tougher, each combo more satisfying - and each castle
        room, a masterpiece!
      </p>
      <!-- <div class="position-wrapper"> -->
      <div class="bubble-block bubble1">
        <div class="bubble-img"></div>
        <p class="description bubble-text">
          <span class="accent-text-white">Match 3</span> or more identical items
          to clear the board
        </p>
      </div>
      <div class="bubble-block bubble2">
        <div class="bubble-img"></div>
        <p class="description bubble-text">
          <span class="accent-text-white">Unlock</span> coins, gems, and special
          boosters
        </p>
      </div>
      <div class="bubble-block bubble3">
        <div class="bubble-img"></div>
        <p class="description bubble-text">
          <span class="accent-text-white">Build</span> beautiful castle scenes
          as you progress
        </p>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
