<section class="section key-features-section" >
   <div class="tube-img-left"></div>
    <div class="tube-img-right"></div>
  <div class="container">
    <h2 id="key-features-section" class="title key-features">Key Features</h2>
    <p class="sub-title">Why Players Love Castle Match</p>

    <div class="logo-img"></div>
    <ul class="section-key-list">
      <li class="section-key-list-item first">
        <ul class="block-key-list">
          <li class="block-key-list-item ">
            <p class="description"><span class="accent-text-white">Addictive Gameplay</span><br />
              Smooth match-3 mechanics with no stress</p>
          </li>
          <li class="block-key-list-item">
            <p class="description"><span class="accent-text-white">Special Power-Ups:</span><br />
              From magic wands to thunder blasts</p>
          </li>
          <li class="block-key-list-item">
            <p class="description"><span class="accent-text-white">Daily Rewards:</span><br />
              Log in to win treasures and surprises</p>
          </li>
        </ul>
      </li>
      
      <li class="section-key-list-item second">
        <ul class="block-key-list">
          <li class="block-key-list-item">
            <p class="description"><span class="accent-text-white">Castle Customization:</span><br />
              Unlock rooms and design them your way</p>
          </li>
          <li class="block-key-list-item">
            <p class="description"><span class="accent-text-white">Gorgeous Art Style:</span><br />
              Lush, colorful fantasy visuals</p>
          </li>
          <li class="block-key-list-item">
            <p class="description"><span class="accent-text-white">Offline Ready:</span><br />
              Enjoy the game anytime, anywhere</p>
          </li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</section>
