<section
  class="section levels-and-rewards-section"
  id="levels-and-rewards-section"
>
  <div class="container">
    <h2 class="title">Levels, Rewards & Achievements</h2>
    <p class="sub-title">Earn Your Crown, Level by Level</p>

    <div class="screens-position-wrapper">
      <div class="screen-block screen1">
        <div class="screen-img"></div>
        <p class="description screen-text1">
          <span class="accent-text-white">Unique</span> puzzles with themed
          objectives
        </p>
        <p class="description screen-text2">
          <span class="accent-text-white">Rewards</span> for combos, streaks,
          and daily goals
        </p>
      </div>

      <div class="screen-block screen2">
        <div class="screen-img"></div>
        <p class="description screen-text1">
          <span class="accent-text-white">300+</span> handcrafted levels
        </p>
        <p class="description screen-text2">
          <span class="accent-text-white">Seasonal</span> tournaments &
          leaderboard rankings
        </p>
      </div>
    </div>
  </div>
</section>
