<section class="section">
  <div class="container mob-experience-container">
    <h2 class="title">Mobile Experience</h2>
    <p class="sub-title">Play Anytime, Anywhere</p>
    <div class="mob-exp-section-content">
      <div class="screens-container">
        <div class="mob-screen-img screen-img--1"></div>
        <div class="mob-screen-img screen-img--2"></div>
        <div class="mob-screen-img screen-img--3"></div>
      </div>
      <div class="mobile-experience-list-container">
        <ul class="mobile-experience-list first">
          <li class="mobile-experience-item">
            <div class="check-img"></div>
            <p class="description">Compatible with Android 5.1+</p>
          </li>
          <li class="mobile-experience-item">
            <div class="check-img"></div>
            <p class="description">Lightweight file, fast install</p>
          </li>
          <li class="mobile-experience-item">
            <div class="check-img"></div>
            <p class="description">Tablet and phone-optimized</p>
          </li>
        </ul>
        <ul class="mobile-experience-list second">
          <li class="mobile-experience-item">
            <div class="check-img"></div>
            <p class="description">No ads interruptions</p>
          </li>
          <li class="mobile-experience-item">
            <div class="check-img"></div>
            <p class="description">Offline mode supported</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
