<section class="section">
  <div class="container boosters-container">
    <div class="boosters-title-wrapper">
      <h2 class="title boosters-main-title" id="power-ups-section">
        Power-Ups & Boosters
      </h2>
      <p class="sub-title">Magical Helpers Along the Way</p>
    </div>
    <div class="boosters-wrapper">
      <div class="boosters-description-wrapper">
        <p class="description">
          Unlock and upgrade a series of fantastic power-ups. Use your strategy
          to combine boosters for epic effects!
        </p>
      </div>
      <ul class="boosters-list boosters-group-1">
        <li class="boosters-list-item align-start">
          <img
            class="booosters-list-img"
            srcset="
              ../img/power-ups_&_boosters/bomb.png    1x,
              ../img/power-ups_&_boosters/bomb@2x.png 2x
            "
            src="../img/power-ups_&_boosters/bomb.png"
            alt="Bomb"
          />
          <div class="boosters-description">
            <p class="boosters-title">Treasure Bomb</p>
            <p class="boosters-text">Clear a huge area</p>
          </div>
        </li>
        <li class="boosters-list-item align-end">
          <div class="boosters-description boosters-group-2">
            <p class="boosters-title">Royal Flame</p>
            <p class="boosters-text">Burn through entire rows</p>
          </div>
          <img
            class="booosters-list-img"
            srcset="
              ../img/power-ups_&_boosters/fire.png    1x,
              ../img/power-ups_&_boosters/fire@2x.png 2x
            "
            src="../img/power-ups_&_boosters/fire.png"
            alt="Fire"
          />
        </li>
      </ul>
      <ul class="boosters-list boosters-group-2">
        <li class="boosters-list-item align-end">
          <img
            class="booosters-list-img"
            srcset="
              ../img/power-ups_&_boosters/lightning.png    1x,
              ../img/power-ups_&_boosters/lightning@2x.png 2x
            "
            src="../img/power-ups_&_boosters/lightning.png"
            alt="Lightning"
          />
          <div class="boosters-description">
            <p class="boosters-title">Lightning Bolt</p>
            <p class="boosters-text">Match in a flash</p>
          </div>
        </li>
        <li class="boosters-list-item align-start">
          <div class="boosters-description boosters-group-2">
            <p class="boosters-title">Mystery Orb</p>
            <p class="boosters-text">Adds powerful matches randomly</p>
          </div>
          <img
            class="booosters-list-img"
            srcset="
              ../img/power-ups_&_boosters/sphere.png    1x,
              ../img/power-ups_&_boosters/sphere@2x.png 2x
            "
            src="../img/power-ups_&_boosters/sphere.png"
            alt="Sphere"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
