.castle-advent-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 650px;
  padding: 0;
  max-width: 1500px;

  /* Можна спробувати не ставити загальний контейнер, бо в ньому нам заважають його падінги
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto; */
}

.sub-title-castle-advent {
  width: 254px;
}

.castle-advent-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumb-castle-advent {
  /** або може взагалі через background-image?*/
  position: relative;
  width: 100vw;
  /* max-width: 450px; */
  height: auto;
  overflow: hidden;
}

.thumb-castle-advent img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.castle-advent-description-wrapper {
  padding: 10px 12px;

  position: absolute;
  width: 250px;
  height: auto;
  max-height: none;
  overflow: visible;
  left: calc(50% - 250px / 2 - 0.5px);
  top: 64px;

  border-bottom: 10px solid var(--yellow-stroke);
  border-left: 10px solid var(--yellow-stroke);
  border-right: 10px solid var(--yellow-stroke);
  border-radius: 5px 8px 40px 40px;
  box-shadow: inset -5px 5px 4px 0 rgba(29, 6, 73, 0.5),
    inset 5px -5px 4px 0 rgba(29, 6, 73, 0.5);
  background: var(--violet);

  transform-origin: top center;
  transform: scaleY(0);
  opacity: 0;
  animation: unfoldScroll 1s ease-out forwards;
  animation-delay: 1.65s;
}

.scroll-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70%;
  width: 100%;
  max-width: 100vw;
  height: 270px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.scroll {
  width: 320px;
  height: 124px;
}

@keyframes unfoldScroll {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

/* desctop */

@media only screen and (min-width: 1200px) {
  .castle-advent-container {
    /* max-width: 1200px; */
    gap: 64px;
  }

  .sub-title-castle-advent {
    width: 100%;
  }
  /*
  .thumb-castle-advent {
    max-width: 100%;
  } */
  .thumb-castle-advent img {
    min-width: 1200px;
    height: 883px;
    transform-origin: left top;
    transform: scale(1.25);
  }

  .castle-advent-description-wrapper {
    padding: 20px 40px;
    width: 430px;
    left: calc(50% - 430px / 2 - 0.5px);
    top: 110px;
  }

  .scroll-container {
    transform: translateX(-75%);
    bottom: 10%;
    height: 410px;
  }

  .scroll {
    width: 559px;
    height: 207px;
  }
}
