.castle-advent-wrapper {
  position: relative;
  max-width: 100%;
  height: 100vh;
}

.thumb-castle-advent {
  min-width: 320px;
  min-height: 300px;

  /** спробуєш через гумовий контейнер?:3
  /** або може взагалі через background-image?
  /* width: 100%;
  max-width: 100%;
  height: auto; */
}

.description-wrapper {
  /* Description */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;

  position: absolute;
  width: 247px;
  height: 200px;
  left: calc(50% - 247px / 2 - 0.5px);
  top: 64px;

  /* Violet */
  background: #381677;
  /* Yellow stroke */
  border-width: 0px 10px 10px 10px;
  border-style: solid;
  border-color: #bd8701;
  box-shadow: inset 5px -5px 4px rgba(29, 6, 73, 0.5),
    inset -5px 5px 4px rgba(29, 6, 73, 0.5);
  border-radius: 5px 8px 40px 40px;
}

.princess {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 250px;
  opacity: 0;
  animation: fadeIn 2s ease-out 0.5s forwards;
}

.scroll-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  perspective: 800px;
}

.scroll {
  width: 280px;
  transform: scaleY(0);
  opacity: 0;
  animation: unfold 1s ease-out 2.5s forwards;
  transform-origin: top center;
}

@keyframes unfold {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
