.cookies-popup-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0;
}
.cookies-popup {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  width: 100vw;
  flex-shrink: 0;
}
.cookies-title {
  display: flex;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  margin-bottom: 8px;
}

.cookies-txt {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  margin-bottom: 24px;
}
.cookies-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}
.cookies-popup button {
  display: flex;
  width: 288px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  cursor: pointer;
}
.accept-cookies-btn {
  background: #f8f8f2;
  color: #0f1322;
  border-radius: 10px;
  padding: 12px 24px;
  transition: 200ms ease-in;
  border: none;
}
.decline-cookies-btn {
  background: var(--green);
  /* border: none; */
  color: #f8f8f2;
  border-radius: 10px;
  padding: 12px 24px;
  transition: 200ms ease-in;
  border: none;
}
.accept-cookies-btn:focus {
  background: var(--green);
  color: var(--white);
}
.decline-cookies-btn:focus {
  background: var(--white);
  color: var(--black);
}

.accept-cookies-btn:hover,
.decline-cookies-btn:hover {
  background: var(--castle-color);
}
@media screen and (min-width: 1200px) {
  .cookies-popup {
    height: 291px;
    padding: 40px 41px;
  }
  .cookies-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .cookies-txt {
    font-size: 20px;
    line-height: 160%;
    width: 100%;
    margin-bottom: 40px;
  }
  .cookies-btn-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .cookies-popup button {
    width: 185px;
  }
}
