.footer-section {
  /* padding: 20px 0; */
  background-color: var(--blue);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  position: relative;
  overflow-x: clip;
}

.policy-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
}

.footer-nav-link:hover {
  color: var(--castle-color);
}

.footer-nav-link:focus {
  color: var(--green);
}
.footer-desc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: var(--white);
  text-align: center;
}
.footer-link {
  position: relative;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1200px) {
  .footer-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .policy-container {
    gap: 12px;
  }

  .footer-nav-list {
    flex-direction: row;
    gap: 12px;
  }
}
