.header {
  position: fixed;
  height: 44px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  padding: 10px 0;
  background: var(--blue);
  color: #ffffff;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.wrapper {
  display: flex;
  gap: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  width: 100%;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--castle-color);
}
.nav-link:active {
  color: var(--green);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

.burger-btn,
.btn-close {
  border: none;
  background-color: transparent;
  color: #fff;
}

.burger-menu {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  align-self: baseline;
  padding: 4px;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}

@media (min-width: 1200px) {
  .nav-logo {
    display: none;
  }
  .burger-btn {
    display: none;
  }

  .header {
    border-radius: 0 0 50px 50px;
    padding: 32px 80px;
    box-shadow: 0 4px 4px 0 rgba(42, 6, 56, 0.2);
    background: var(--blue);
    height: 128px;
  }
  .nav {
    justify-content: center;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0;
  }

  .row-list {
    display: flex;
    width: 100%;
    gap: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
