.header {
  position: fixed;
  height: 44px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  padding: 10px 0;
  background: var(--blue);
  color: #ffffff;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.wrapper {
  display: flex;
  gap: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  width: 100%;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: none;
}

.nav-link {
  font-family: 'Inter Tight', sans-serif;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 125%;
  transition: 200ms ease-in;
  cursor: pointer;
  padding-bottom: 12px;
}

/* --- */
.nav-link:hover,
.nav-link:focus {
  color: var(--castle-color);
}
.nav-link:active {
  color: var(--green);
}

.burger-btn,
.btn-close {
  border: none;
  background-color: transparent;
  color: #fff;
}

.burger-menu {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 194px;
  padding: 9px 20px 33px 20px;
  gap: 12px;
  position: absolute;
  top: 0;
  right: 0;
}
.nav-burger-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-burger-item :not(:last-child) {
  margin-bottom: 12px;
}
*/ .nav-burger-link:hover,
.nav-burger-link:focus {
  color: var(--castle-color);
}
.nav-burger-link:active {
  color: var(--green);
}
.nav-burger-link::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 154px;
  height: 1px;
  background-color: var(--bg-1block);
}

.nav-burger-link.active::after {
  background: #747bff;
}

.btn-close {
  align-self: baseline;
  padding: 4px;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .nav-burger-list {
    display: none;
  }
  .header {
    border-radius: 0 0 50px 50px;
    padding: 32px 80px;
    box-shadow: 0 4px 4px 0 rgba(42, 6, 56, 0.2);
    background: var(--blue);
    height: 128px;
  }
  .nav {
    justify-content: center;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px 0;
  }
  .row-list {
    display: flex;
    width: 100%;
    gap: 100px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
