.back-link-btm-container {
  position: fixed;
  height: 44px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding-bottom: 10px;
  background: var(--blue);
}
.terms-section {
  padding-top: 84px;
}

.terms-content-container {
  background: var(--bg-1block);
  border-radius: 10px;
  padding: 40px 16px;
  text-align: start;
  min-width: calc(100% - 32px);
}
.main-terms-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 32px;
}

.terms-description {
  margin-bottom: 8px;
}

.terms-accent {
  font-weight: 600;
}

.terms-main-description {
  margin-bottom: 24px;
}

.terms-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.terms-list-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.unorder-terms-list-item {
  position: relative;
  padding-left: 23px;
}
.unorder-terms-list-item::before {
  content: '•';
  position: absolute;
  left: 7px;
  top: 0;
}

.terms-number-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.terms-number-box {
  display: inline-flex;
  flex-direction: row;
  width: 5px;
}
.terms-list-item a {
  color: #00e;
}
.unorder-terms-list-link-item a {
  color: #00e;
  transition: color 0.3s ease;
  position: relative;
  padding-left: 24px;
}

.terms-list-item a:hover,
.unorder-terms-list-link-item a:hover {
  color: var(--castle-color);
}

.terms-list-item a:focus,
.unorder-terms-list-link-item a:focus {
  color: var(--green);
}

.unorder-terms-list-link-item a::before {
  content: '•';
  position: absolute;
  left: 9px;
  top: 0;
  color: currentColor;
}
@media only screen and (min-width: 1200px) {
  .terms-section {
    padding-top: 164px;
  }
  .back-link-btm-container {
    position: relative;
    padding: 0 80px;
    background-color: transparent;
    height: 0;
  }
}
