.visuals-atmosphere-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: 910px;
  padding: 0;
  max-width: 320px;
}

.sub-title-castle-advent {
  width: 254px;
}

.visuals-atmosphere-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumb-throne {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.thumb-throne img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.visuals-atmosphere-description-wrapper {
  padding: 10px 12px;

  position: absolute;
  width: 250px;
  height: auto;
  max-height: none;
  overflow: visible;
  left: calc(50% - 250px / 2 - 0.5px);
  bottom: 30px;

  border-bottom: 10px solid var(--yellow-stroke);
  border-left: 10px solid var(--yellow-stroke);
  border-right: 10px solid var(--yellow-stroke);
  border-radius: 5px 8px 40px 40px;
  box-shadow: inset -5px 5px 4px 0 rgba(29, 6, 73, 0.5),
    inset 5px -5px 4px 0 rgba(29, 6, 73, 0.5);
  background: var(--violet);

  transform-origin: top center;
  transform: scaleY(0);
  opacity: 0;
  animation: unfoldScroll 1s ease-out forwards;
  animation-delay: 1.65s;
}

.visuals-atmosphere-scroll-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75%;
  width: 100%;
  max-width: 100%;
  height: 250px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

@keyframes unfoldScroll {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.visuals-atmosphere-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 16px;
  bottom: -157%;
}
.visuals-atmosphere-list-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--white);
  width: 288px;
  height: 60px;
  background: #381677;
  border-radius: 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* desctop */

@media only screen and (min-width: 1200px) {
  .visuals-atmosphere-container {
    gap: 64px;
    min-height: 777px;
    max-width: 1200px;
  }

  .sub-title-castle-advent {
    width: 100%;
  }

  .thumb-throne img {
    max-width: 1200px;
    height: 616px;
    /* transform-origin: left top; */
  }

  .visuals-atmosphere-description-wrapper {
    padding: 20px 40px;
    width: 375px;
    left: calc(50% - 375px / 2 - 0.5px);
    top: 100px;
    height: 232px;
  }

  .visuals-atmosphere-scroll-container {
    transform: translateX(-75%);
    top: 35%;
    height: 410px;
  }

  .visual-scroll {
    width: 479px;
    height: 175px;
  }

  .visuals-atmosphere-list {
    transform: translateX(170%);
    bottom: 10%;
    gap: 40px;
  }
  .visuals-atmosphere-list-item {
    font-size: 18px;
    line-height: 167%;
    border-radius: 20px;
    padding: 10px 0px;
    width: 242px;
    height: 80px;
  }
}
